:root {
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #757575;
  --green-color: #00ff08;
  --color-shadow: #ffffff28;
}

/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--black-color);
  height: 100vh;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--green-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  box-shadow: 0px 0px 8px var(--green-color);
  transform: scale(1.03);
}

.titulo {
  color: var(--white-color);
  text-align: center;
  font-size: 38px;
  margin-top: 50px;
}

.titulo span {
  color: var(--green-color);
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

header a {
  color: var(--gray-color);
  text-decoration: none;
  display: inline-block;
}

header .logo a h1 {
  color: var(--white-color);
  font-size: 25px;
}

header a:hover {
  color: var(--white-color);

  transform: scale(1.04);
  transition: 0.2s;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO TOPO DO SITE */
.topo-do-site {
  padding: 40px 4%;
}

.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: var(--white-color);
  font-size: 38px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: var(--green-color);
}

.topo-do-site .txt-topo-site p {
  color: var(--white-color);
  margin: 30px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 0px 50px var(--green-color);
  animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .img-topo-site img:hover {
  transform: scale(1.03);
  animation: none;
  transition: 0.2s;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/* MINHAS HABILIDADES */
.habilidades {
  padding: 80px 4%;
}
.habilidades .flex {
  gap: 60px;
}

.habilidades .habilidades-box {
  color: var(--white-color);
  padding: 50px;
  border-radius: 25px;
  margin-top: 45px;
  transition: 0.2s;
}

.habilidades .habilidades-box:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10px var(--green-color);
}

.habilidades .habilidades-box i {
  font-size: 70px;
  color: var(--green-color);
}

.habilidades .habilidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* ESTILO SOBRE */
.img-sobre img {
  border-radius: 45px;
}

.sobre {
  padding: 80px 4%;
}

.sobre .txt-sobre {
  color: var(--white-color);
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: var(--green-color);
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--green-color);
  font-size: 24px;
  cursor: pointer;
  margin: 0 5px;
}

.sobre .txt-sobre .btn-social button:hover {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--green-color);
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.sobre .flex {
  align-items: center;
  gap: 60px;
}

/* ESTILO PORTFÓLIO */
.portfolio {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px var(--color-shadow);
}

.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 5s;
  cursor: pointer;
  border-radius: 40px;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  background-color: #0000009a;
  color: var(--white-color);
  opacity: 0;
  transition: 0.4s;
}

.overlay:hover {
  opacity: 1;
  box-shadow: 0 0 10px var(--white-color);
}

.overlay a {
  text-decoration: none;
  color: var(--white-color);
}

/* ESTILO FORMULÁRIO */

.formulario {
  padding: 90px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #292929;
  border: none;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  color: var(--white-color);
  font-size: 17px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

.btn-enviar {
  margin-top: 20px;
  text-align: center;
}

.btn-enviar input {
  width: 120px;
  background-color: var(--green-color);
  color: var(--black-color);
  font-weight: 700;
  cursor: pointer;
}

.btn-enviar input:hover {
  box-shadow: 0px 0px 8px var(--green-color);
  transform: scale(1.03);
}

/* ESTILO RODAPÉ */
footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px var(--color-shadow);
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 30px 0;
}

.borda {
  border-top: 2px solid var(--green-color);
}

.line-footer p i {
  color: var(--green-color);
  font-size: 22px;
}

.line-footer p a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 500;
}

.logo-footer {
  text-decoration: none;
  display: inline-block;
  color: var(--white-color);
}
