:root {
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #757575;
  --green-color: #00ff08;
}

/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--black-color);
  height: 100vh;
}

.interface {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--green-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px var(--green-color);
  transform: scale(1.03);
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px, 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

header a {
  color: var(--gray-color);
  text-decoration: none;
  display: inline-block;
}

header .logo a h1 {
  color: var(--white-color);
  font-size: 25px;
}

header a:hover {
  color: var(--white-color);

  transform: scale(1.04);
  transition: 0.2s;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO TOPO DO SITE */
main .topo-do-site {
  padding: 40px 4%;
}

main .topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: var(--white-color);
  font-size: 38px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: var(--green-color);
}

.topo-do-site .txt-topo-site p {
  color: var(--white-color);
  margin: 30px 0;
}

.topo-do-site .img-topo-site img {
  border-radius: 50%;
  box-shadow: 0px 0px 50px var(--green-color);
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .img-topo-site img:hover {
  transform: scale(1.03);
  animation: none;
  transition: 0.2s;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}
